body{

    font-family: 'Gayathri', sans-serif;


}

h2{

font-weight: 1000;

}

p{

font-weight: 700;

}

#banner{
    
	background-color:#574f7d;
	background-position:bottom center  ;
	width:50%;
	height:150px;
	overflow:hidden;
    -webkit-border-radius:20px;	-moz-border-radius:20px;border-radius:20px; /* css3 */
    margin:4px auto;
    
  
    
}

h1{

    text-align: center;
    color: rgb(255, 249, 249);

}

h3{

    text-align: center ;
    color: rgb(255, 249, 249);
}

h4{

	text-align: center;
    color: rgb(255, 249, 249);

}

h5{

	text-align: center;
    color: rgb(255, 249, 249);

}
#menu{
	margin:50px auto;
	width:100%;
	height:40px;
	text-align:center;
}

/*#menu a{
	color:#FFF;
	border:1px solid #2828d4;
	background-color:#2828d4;
	text-decoration:none;
	display:inline-block;
	height:38px;
	padding:0 20px;
	line-height:40px;
	margin:0 5px;
	-webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:12px; /* css3 */
	/*background: -webkit-gradient(linear, left top, left bottom, from(white), to(#2828d4));background: -moz-linear-gradient(top, white, #2828d4); /* css3 */
/*} */

#menu a{
	color:#FFF;
	border:1px solid #614ad3;
	background-color:#614ad3;
	text-decoration:none;
	display:inline-block;
	height:38px;
	padding:0 20px;
	line-height:40px;
	margin:0 5px;
	-webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:12px; /* css3 */
	background: -webkit-gradient(linear, left top, left bottom, from(white), to(#614ad3));background: -moz-linear-gradient(top, white, #614ad3); /* css3 */
}

.nave-class{

    display: inline-block;
    background: #6c7b95;
    color: #000;
    padding: 15px 30px;
    text-decoration: none;
 
}

.nave-class:hover{

background: #843b62;


}

nav{

    background: #ac8daf;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    width:100% auto;
    border-radius: 50px;
    

}

@media (max-width: 600px){

nav{

background: #6c7b95;

}

}

.container{

margin: 0 auto;
width: 500px;
}

.flex{
display: flex;
}

.text-center{

text-align: center;

}

.columna{
background: #f7fdb1;
color: #000;
border: 1px solido #000;
margin: 10px;
padding: 10px;
border-radius: 25px;
box-shadow: 10px 10px 10px #888;


}

#imagen{

	background-position:bottom center;

}


table{
	text-align:center;
	background:#845c3b; 
	overflow:hidden;
	border-collapse:collapse; 
	-webkit-border-radius:5px;	-moz-border-radius:5px;border-radius:5px; /* css3 */
	border: 2px solido #000;
    margin: 10px;
	padding: 10px;
	box-shadow: 15px 15px 15px #888;
	height:38px;
	margin-left: 20%;
	
} 

table th{
	color:#FFF;
	text-align:center;
	padding:10px 10px;
	background-color:#6c7b95;
	height:20px;
	
	
	
}
table tr:nth-child(even) {/* css3 */ 	
 	color:#fff;
	background:#a198f5; 
	
	
	
}
table tr:nth-child(odd) {/* css3 */
	background: #fff;
	
	
	
}
table tr:hover{
	color:#fff;
	background-color:#b8e440;

	
}






	
